[Desktop Entry]
Type=Application
Name=PyCharm
Comment=Python IDE
Exec=pycharm
Icon=jetbrains-pycharm
Terminal=false
Categories=Development;IDE
Keywords=Development;IDE;Python
